bin/
/Kwic/nbproject/private/
/Kwic/build/
Kwic/nbproject/build-impl.xml
Kwic/nbproject/genfiles.propertie

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

Kwic/nbproject/project\.xml

Kwic/nbproject/project\.properties

Kwic/nbproject/genfiles\.properties

Kwic/manifest\.mf

Kwic/build\.xml
