#ant specific



dist/



build/



#netbeans specific

bin/

/KWIC/nbproject/private

KWIC/nbproject/build-impl.xml

KWIC/nbproject/genfiles.propertie



#java specific

*.class



#general swap/backup files

*.so

*.log

*.out

*~

*.swp

*.DS_Store

*.lock
